<html>
	<head>
		<link rel="stylesheet" href="basic_char.css">
	</head>
	@{ VirtualCharacterSheet.PlayerCharacter Character = VirtualCharacterSheet.Scripting.locals.This; }
	<body>
		<div>
			<span>
				Initiative:
				@Character.Meta.Initiative
			</span>
		</div>
	</body>
</html>