<html>
	@{ VirtualCharacterSheet.PlayerCharacter Character = VirtualCharacterSheet.Scripting.locals.This; }
	<head>
		<link rel="stylesheet" href="basic_char.css">
		<script type="text/javascript" defer>
			document.querySelector("#initiative").addEventListener("click", function () {
				//do an initiative roll here
			});
		</script>
	</head>
	<body>
		<div>
			<span id="initiative">
				Initiative:
				@Character.Meta.Initiative
			</span>
			<span id="health">
				HP: @Character.Meta.Health / @Character.Meta.MaxHealth
			</span>
		</div>
	</body>
</html>