@page "/character"

@using VirtualCharacterSheet
@{
	string id = Request.Query["id"];
	var character = Data.HasCharacter(id) ? Data.GetCharacter(id) : null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>@character.Name</title>
</head>
<body>
	<div class="head">
		<h1>@character.Name</h1>
		<h2>@character.Player</h2>
	</div>
</body>
</html>